page-categoria {

  @font-face {
    font-family: "Rounded Elegance";
    src: url("https:allinapp.com.co/fonts/rounded_elegance/Rounded_Elegance.ttf");
  }

  .borde-grey{
    border:1px solid lightgray;
  }

  .arial{
    font-weight: lighter!important;
  }

  .serif{
    font-family: Rounded Elegance!important;
  }

}
