page-home {

  .btn-menu{
    color: #b71c1c;
  }

  .btn-center{
    text-align: center;
  }

  .btn-login{
    border-radius:7px;
  }

  #data-usuario{
    color: #90a4ae;
  }

  #data-password{
    color: #90a4ae;
  }

  .logo-login{
    width: 121px;
    height: 121px;
  }

  .centrar{
    text-align: center;
  }

  .cajaForm{
    width: 100%;
  }

  .subCaja1{
    border-bottom:1px solid lightgrey;
    width: 100%!important;
  }

  .subCaja2{
    border-top:1px solid lightgrey;
    width: 100%;
  }


}
