page-modulo-user {

          .refrescar{
            color: #b71c1c;
          }

          .icon-target{
            font-size: 77px;
            color: white;
          }

          .font-card{
            background: #b71c1c;
          }

          .contenedor-m-home{
            background: white;
          }

          .body-font{
            background: #fafafa;
            height: 37%;
          }

          .h4{
            height: 87px;
            width: 87px;
            border-radius: 50%;
            box-shadow: 0 0 5px gray;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
          }

          .image{
            width:87px;
            height:87px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
          }

          .content-col{
            margin-top: 1.5em;
          }

          h5{
            font-family: Serif;
          }

          .square-small{
            background: white;
            color:black;
            text-align: center;
          }

          .icon-square{
            font-size: 37px;
          }

          .pages{
            max-height: 121px;
            border-radius:4px;
            border: 1px solid #ef5350;
          }

          ion-slide{
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
          }

          img{
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
          }

          .content-pages{
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
          }

          .slideHome{
            width: 100%;
          }

          .sing-table{
            background: #b71c1c;
            color: white;
          }

          h6{
            font-family: serif;
          }


}
