page-carrito {
    @font-face {
        font-family: "Rounded Elegance";
        src: url("https:allinapp.com.co/fonts/rounded_elegance/Rounded_Elegance.ttf");
    }
    .btn {
        border-radius: 4px;
    }
    .btnCancel {
        border-radius: 2px;
        margin-top: 1em;
    }
    small {
        font-family: Rounded Elegance!important;
    }
    .arial {
        font-weight: lighter;
    }
    .serif {
        font-family: Rounded Elegance!important;
    }
    .lista-item {
        border: 0.4px solid gainsboro;
    }
    .typeSerif {
        font-family: Rounded Elegance!important;
        margin-right: 1em;
    }
    .content-btn {
        width: 90%;
        margin-left: 5%;
    }
    .content-btn2 {
        width: 64%;
        margin-left: 19.7%;
    }
    .elegance {
        font-family: Rounded Elegance!important;
    }
    h2 {
        font-size: 27px!important;
        color: #9C9B9F;
    }
    .cajaInput {
        height: 27px;
        color: black;
        text-align: center;
    }
    .btn-b {
        height: 27px !important;
        background: #ef5350 !important;
        color: white !important;
        border-radius: 7px!important;
    }
}